{%extends "notes/base.html"%}

{%block content%}
{%load show_notes%}


<div class="container box jumbotron">

  {%for note in object_list%}
  <div class="notes">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-unstyled list-inline">
          <li><h3><strong>{{note.name}}</strong></h3></li>
          <li><a class="btn" href="{% url 'notes:update_notes' note.pk%}" role="button">
            <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
          </a></li>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p>{{note.body}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="{{note.image.medium.url}}" alt="{{note.image.name}}">
        </div>
      </div>

    </div>
    {%endfor%}


  </div>

  {%endblock%}
